body {
    height: 100%;
    font-family: sans-serif;
    background-color: #f5f5f5;/*#cfe2f3;*/

    margin: 0;
    padding: 0;
}

.content {

    margin: 0 auto;
    background-color: white; /*#99CCFF;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    color: black;
    text-align: center;
}

header {
    color: black;
    padding: 10px;
    font-size: 15px;
    background-color: #f2f2f2;/*#6699CC;*/
}


.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.form-container {
    width: 50%;
}

.input-row {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}

.input-row label {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 5px;
}

.input-row > label {
    min-width: 120px;
    margin-right: 20px;
    white-space: nowrap;
}

.X-radio-input {

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.x-link {
    color: inherit;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
}

.x-link:focus {
    outline: none;
}

.x-link.active {
    color: #007bff;
    font-weight: bold;
}

.x-link.active {
    background-color: #e0f7fa;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


input[type="text"] {
    width: 90%;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 1px solid #003366;
    border-radius: 5px;
}

input::placeholder {
    color: black;
    opacity: 0.6;
    font-weight: bold;
}

.button-container {
    text-align: center;
}

.button-container > button {
    font-size: 20px;
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #6699CC;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-container > button:hover {
    background-color: #336699;
    transition: background-color 0.3s ease;
}

.table-container {
    padding-left:10px;
    margin-top: 20px;
}

.resultTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.resultTable th {
    background-color: #6699CC;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

.resultTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    color: #003366;
}

.canvas-container {
    padding-right: 20px;
    width: 40%;
}

canvas {

    max-width: 100%;
    height: auto;
}

.title-container {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#status {
    color: red;
}

._button {
    font-size: 20px;
    margin: 10px;
    min-width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #6699CC;
    color: white;
    border: none;
    border-radius: 5px;
}

._button:hover {
    background-color: #336699;
    transition: background-color 0.3s ease;
}
.r-slider{
    margin: 10px;
    width: 70%;
}
.r-value {
    min-width: 33px;
    width: 30%;
}

.table-button {
    font-size: 15px;
    min-width: 100px;
    height: 30px;
}